* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#form-name:focus, #form-type-dropdown:focus, .statement-input:focus, .answer-option select:focus, .dropdown-field select:focus {
    outline: none;
    color: #5D7C7E;
}

/* nav bar / top bar */

.top-bar {
    height: 100px;
    width: 100%;
    background-color: #5D7C7E;
    color: #d4e9ea;
    box-shadow: 5px 5px 10px rgb(196, 196, 196);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.back-button {
    position: absolute;
    margin-left: 50px;
}

.header-title {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

/* form */

#container {
    background-color: #d4e9ea;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.content-box {
    background-color: #FFFFFF;
    width: 50%;
    height: 660px;
    margin-top: 2%;
    box-shadow: 5px 5px 10px rgb(196, 196, 196);
    padding: 2% 4%;
    overflow-y: scroll;
}

.title-label {
    display: flex;
    flex-direction: row;
}

.input-label {
    display: flex;
    flex-direction: row;
}

.header-input {
    color: #5D7C7E;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 5%;
    width: 45%;
}

.content-input {
    width: 45%;
    margin-right: 5%;
}

#form-name {
    border: solid 2px #5D7C7E;
    height: 40px;
    width: 95%;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(196, 196, 196);
    padding: 0 15px;
    color: #5D7C7E;
}

#form-type-dropdown {
    color: #5D7C7E;
    height: 45px;
    width: 100%;
    border: solid 2px #5D7C7E;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(196, 196, 196);
    padding-left: 15px;
    appearance: none;
    background-image: url("../asset/arrow-down.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    font-size: 16px;
}

/* FOR NEW FIELD */

.container-field {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 45px;
}

.field-box {
    width: 85%;
    height: auto;
    box-shadow: 3px 3px 10px rgb(196, 196, 196);
    padding: 20px 20px 20px 20px;
    border-radius: 7px 0 0 7px;
}

.statement-type {
    display: flex;
    flex-direction: row;
}

.statement {
    width: 60%;
    margin-bottom: 30px;
}

.statement-title {
    color: #5D7C7E;
    font-size: 18px;
    font-weight: bold;
}

.statement-input {
    border: none;
    border-bottom: solid 2px #5D7C7E;
    border-radius: 3px;
    height: 35px;
    width: 80%;
    padding: 5px 5px;
    font-size: 16px;
    color: #5D7C7E;
}

.type-answer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* answer example */

.answer-title {
    color: #5D7C7E;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.answer-option select {
    color: #5D7C7E;
    height: 38px;
    width: 80%;
    border: solid 2px #5D7C7E;
    border-radius: 5px;
    padding-left: 15px;
    appearance: none;
    background-image: url("../asset/arrow-down.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    font-size: 16px;
}

.answer-input {
    width: 100%;
}

.answer-input-text {
    display: flex;
    align-items: center;
    width: 40%;
    height: 35px;
    padding: 0 15px;
    border: solid 2px #5D7C7E;
    border-radius: 5px;
}

.answer-input-text:hover {
    cursor: not-allowed;
}

.multiple-field, .checklist-field {
    display: flex;
    flex-direction: column;
}

.options {
    margin-bottom: 15px;
}

.options:hover {
    cursor: not-allowed;
}

.options-label {
    color: #5D7C7E;
}

.option-field, .value-field {
    display: flex;
}

.multiple-input, .checklist-input, .dropdown-input {
    width: 30%;
    height: 35px;
    padding: 0 15px;
    border: solid 2px #5D7C7E;
    border-radius: 5px;
}

.add-option-button, .add-value-button {
    width: 15%;
    background-color: #5D7C7E;
    color: #d4e9ea;
    text-align: center;
    font-weight: bold;
    margin-left: 15px;
    height: 39px;
    border: none;
    border-radius: 5px;
}

.answer-input-area {
    display: flex;
    align-items: center;
    width: 40%;
    max-width: 87%;
    height: 80px;
    max-height: 300px;
    padding: 15px 15px;
    border: solid 2px #5D7C7E;
    border-radius: 5px;
}

.date-input, .time-input, .date-time-input {
    width: 40%;
    height: 35px;
    padding: 0 15px;
    border: solid 2px #5D7C7E;
    border-radius: 5px;
    color: #5D7C7E;
}

.dropdown-field select {
    margin-bottom: 20px;
    color: #5D7C7E;
    height: 38px;
    width: 34%;
    border: solid 2px #5D7C7E;
    border-radius: 5px;
    padding-left: 15px;
    appearance: none;
    background-image: url("../asset/arrow-down.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    font-size: 16px;
}

/* delete field */

.delete-button {
    background-color: rgba(255, 0, 0, 0.781);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 7px 7px 0;
    width: 6%;
    box-shadow: 3px 3px 10px rgb(196, 196, 196);
}

.delete-button:hover {
    cursor: pointer;
    background-color: #ff00007c;
}

.delete-field {
    background-color: transparent;
    border: none;
}

.delete-field:hover {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* toggle css */

.toggle {
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
}

.toggle-label {
    color: #5D7C7E;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
}

.toggle-checkbox:checked+.toggle-switch {
    background: #56c080;
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

/* button new field and save */

#add-new-field,
.button-save {
    background-color: #5D7C7E;
    color: #d4e9ea;
    width: 180px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

#add-new-field {
    margin-top: 35px;
}

#add-new-field:hover,
#save-button:hover {
    background-color: #5d7c7eb7;
    cursor: pointer;
}

#save-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
